#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1%; /* Place the button at the bottom of the page */
    right: 40%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 30px;  /* Increase font size */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(1, 240, 240);   /* Set a background color */
    color: rgb(0, 44, 62); /* Text color */
    cursor: pointer;  /* Add a mouse pointer on hover */
    width: 50px;
    height: 50px;
  }
  
  #myBtn:hover {
    background-color: #555;
  } 